.App {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.loading_big {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.4);
  background-image: url('./images/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  z-index: 10000;
}

.title {
  position: relative;
  float: left;
  text-align: center;
  width: 100%;
  margin: 50px 0px;
  font-size: 30px;
  color: #1565c0;
}

.container {
  position: relative;
  float: left;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 500px;
  box-shadow: #00000033 0px 3px 1px -2px, #00000024 0px 2px 2px 0px, #0000001f 0px 1px 5px 0px;
  border: 1px solid #1565c0;
  border-radius: 4px;

}

.tableHeader {
  width: 1200px;
  height: 30px;
  color: #ffffff;
  padding: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #bebef5;
  box-shadow: #00000033 0px 3px 1px -2px, #00000024 0px 2px 2px 0px, #0000001f 0px 1px 5px 0px;
  background-color: #1976d2;
  border-bottom-color: #1565c0;
  border-radius: 4px;
}

.headerCell {
  width: 300px;
  text-align: center;
}

.link {
  width: 1200px;
  height: 30px;
  padding: 5px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-decoration: none;
}

.btnLink {
  width: 300px;
  height: 30px;
  color: #ffffff;
  padding: 10px 0px;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #bebef5;
  box-shadow: #00000033 0px 3px 1px -2px, #00000024 0px 2px 2px 0px, #0000001f 0px 1px 5px 0px;
  background-color: #1976d2;
  border-bottom-color: #1565c0;
  border-radius: 4px;
  margin-top: 30px;
}

.link:hover {
  color: #1976d2;
  border-bottom: 1px dashed #1565c0;
}

.link:visited:not(:hover) {
  color: #000000;
}

.data {
  width: 300px;
  text-align: left;
}

.detailRow {
 margin: 5px 0px; 
}

.name {
  color: #1565c0;
}

.website {
  cursor: pointer;
}